nav {
  margin-bottom: 1em !important;
}
h1 {
  
  text-shadow: 0 0 3px #FF0000;
}
.cart {
  box-shadow: 0 0 5px #DDF;
  padding: 20px;
}
.tiny {
  background-color: #ff6d34;
}
#clear:hover {
  background-color: #ff6d34;
  color: #fff;
}
#checkout:hover {
  background-color: #ff6d34;
  color: #fff;
}